<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auroraonce.humres.mapper.employeeMapper">
    <select id="findAllEmp" resultType="employee">
        select * from employeeinfo;

    </select>

    <select id="findEmpById" resultType="employee" parameterType="Integer">
        select * from employeeinfo WHERE eno = #{eno};

    </select>

    <delete id="delEmpById"  parameterType="Integer">
        delete from employeeinfo WHERE eno = #{eno};

    </delete>

    <insert id="addEmpById"  parameterType="employee">
        insert into employeeinfo(eno,name) values(#{eno},#{name});
    </insert>
</mapper>